/**
 * Ruck master stylesheet
 *
 * Author	: Matthew Pennell
 * Created	: 22/02/2013
 * Modified	: 21/04/2013
 */

@import url('/c/reset.css');

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* @group Animations */

/* @end */

/* @group Basic Element Styles */

body {
	font: 12px/40px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #444;
}

h1 {
	font-weight: bold;
}

a {
	color: #06f;
	text-decoration: none;
}

strong {
	font-weight: bold;
}

/* @end */

/* @group Common Classes */

.pill, .count {
	background: #ddd;
	color: #666;
	border-radius: 10px;
	font-size: 12px;
	padding: 3px 10px;
	line-height: 1;
}

.count {
	font-weight: bold;
	position: absolute;
	right: 10px;
	top: 10px;
}

/* @end */

/* @group Page Layout */

.block {
	border-bottom: 1px solid #ccc;
}

.header, .capture {
	height: 40px;
	overflow: hidden;
}

.heading {
	float: left;
	font-size: 14px;
	line-height: 40px;
	padding: 0 10px;
	position: relative;
	width: 200px;
}

.content {
	margin-left: 200px;
	border-left: 1px solid	#ccc;
	min-height: 40px;
	overflow: hidden;
}

.tasks li {
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
	position: relative;
}

.tasks li:last-child {
	border: 0;
}

.tasks li:hover {
	background: #f4f4f4;
}

/* @end */

/* @group Header */

.search {
	position: absolute;
	top: 0;
	right: 10px;
}

.actions {
	padding: 0 10px;
}

.actions a {
	background: #ccc;
	border-radius: 20px;
	padding: 5px 10px;
	color: #333;
	margin-right: 10px;
}

/* @end */

/* @group Inbox */

.inbox {
	background: #c00;
	color: #fff;
}

.quick-capture {
	padding: 0 10px;
}

/* @end */

/* @group Calendar */

.calendar-item {
	float: left;
	font-size: 14px;
	line-height: 20px;
	height: 100px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 10px 0 10px 10px;
	padding: 10px;
	width: 200px;
}

.date {
	font-weight: bold;
	text-transform: uppercase;
}

/* @end */

/* @group Next Actions */

.contexts {
	padding: 0 10px;
	background: #ccc;
	border-bottom: 1px solid #aaa;
	line-height: 40px;
	overflow: hidden;
}

.contexts h2, .contexts a {
	float: left;
	margin-right: 10px;
	background: none;
}

.contexts .active a {
	color: #333;
	font-weight: bold;
}

.tasks .project {
	position: absolute;
	right: 10px;
	top: 10px;
}

/* @end */
