* {
	margin: 0;
	padding: 0;
	font: 14px/20px Helvetica, Arial, sans-serif;
	color: #333;
}

a {
	color: #08c;
}

p {
	margin: 0 0 10px;
}

b {
	font-weight: bold;
}

.mini {
	font-size: 11px;
	color: #c30;
}

button {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}

.btn {
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 5px;
	border: 0;
	background: #333;
	color: #fff;
	box-shadow: 0 1px 1px #000;
}

.primary {
	background: #c30;
}

.btn:hover {
	box-shadow: 0 0 1px #000;
}

.primary:hover {
	background: #f30;
}

.title-bar {
	font: bold italic 20px serif;
	background: #333;
	color: #fff;
	padding: 10px 20px;
	margin: 0 0 20px;
}

.title-bar span {
	font: italic 32px serif;
	color: #f60;
}

.actions {
	margin: 0 0 20px 10px;
}

#sidebar {
	float: left;
	width: 20%;
	margin-right: 5%;
}

#main {
	width: 70%;
	float: left;
}

#sidebar ul, #contexts {
	list-style: none;
	overflow: hidden;
}

.projects a {
	text-decoration: none;
	display: block;
	background: #333;
	border-bottom: 1px solid #444;
	padding: 5px;
}

.inactive a {
	background: #666;
	color: #999;
}

.projects a:hover, #contexts a:hover {
	background: #444;
	color: #fff;
}

h1 {
	font-size: 24px;
	margin: 0 0 20px;
}

.tasks {
	margin: 0 0 20px;
}

#contexts a {
	display: block;
	float: left;
	margin: 0 10px 20px 0;
	padding: 5px 10px;
	border-radius: 10px;
	text-decoration: none;
	background: #eee;
}

#contexts .active a {
	background: #cfc;
}

#contexts .active a:hover {
	background: #3c3;
}

fieldset {
	border: 0;
}

legend {
	font-size: 18px;
	color: #666;
}

form ol {
	list-style: none;
}

form li {
	margin-bottom: 10px;
}

label, input, select {
	display: block;
}

.error {
	background: #fcc;
	color: #d00;
	margin: 0 0 20px;
	padding: 10px;
}

.task-list li:first-child {
	background: #ff6;
}

/* Inline editing */

.inline-edit {
	border: 0;
	width: 100%;
	padding: 5px 0;
}

.inline-edit.heading {
	font-size: 24px;
}

textarea.inline-edit {
	background: #ffc;
	height: 200px;
	font: 16px/20px "Marker Felt", "Comic Sans";
}